:root {
  --cor_hover: #ff4747;
}

* {
  padding: 0px;
  margin: 0px;
}

.cabecalho {
  /* Use linear-gradient() para criar o degradê de cores */
  background: linear-gradient(to bottom, #0e0433, #010d22);
  /* Adicione estilos adicionais, como altura, largura, etc. */
  height: 100px;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  position: absolute fixed;
}

#logo {
  width: 100px;
  height: 100px;
  margin-left: -47%;
  position: absolute;
}

.botoes {
  padding: 2px;
  margin-top: 1%;
  margin-left: -90%;
  font-size: 1.7rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.curso {
  position: absolute;
  z-index: 2;
  margin-top: 1.5%;
  margin-left: 20.5%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.curso:hover {
  transform: scale(1.2);
}

.sobre {
  position: absolute;
  margin-top: 1.5%;
  margin-left: 30%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sobre:hover {
  transform: scale(1.2);
}

.duvidas {
  position: absolute;
  margin-top: 1.5%;
  margin-left: 39%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.duvidas:hover {
  transform: scale(1.2);
}

.contato_endereco {
  position: absolute;
  margin-top: 1.5%;
  margin-left: 50.4%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contato_endereco:hover {
  transform: scale(1.2);
}

.avaliacoes {
  position: absolute;
  margin-top: 1.5%;
  margin-left: 72%;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.avaliacoes:hover {
  transform: scale(1.2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.ola {
  color: #ffffff;
  font-size: 45px;
  margin-top: -145px;
  background: linear-gradient(to bottom, #0e0433, #010d22);
  padding: 15px;
  border-radius: 10px;

}

.seja {
  color: #ffffff;
  margin-top: -9px;
  font-size: 45px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #010d22;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

}

/* Animação para o efeito neon */
@keyframes neon {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }

}

#cara_feliz {
  margin-top: -265px;
  margin-left: 820px;
  width: 470px;
  height: 460px;
  filter: grayscale(80%);
}

#cara_feliz2 {
  margin-top: -465px;
  margin-right: 860px;
  width: 470px;
  height: 460px;
  filter: grayscale(80%);
}


.cta-1 {
  margin-top: 100px;
  width: 245px;
  height: 100px;
  border-radius: 20px;
  color: #ffffff;
  background-color: #ff4747;
  border-color: #ff4747;
  font-size: 40px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: transform 0.3s ease;
}

.cta-1:hover {
  transform: scale(1.2);
}

.rodape {
  /* Use linear-gradient() para criar o degradê de cores */
  background-color: #0e0433;
  /* Adicione estilos adicionais, como altura, largura, etc. */
  height: 100px;
  color: white;
  padding: 30px;
  margin-top: 71%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contato {
  font-size: 25px;
  margin-top: -10px;
  text-align: center;
}

.info {
  margin-left: 350px;

  cursor: pointer;
  transition: color 0.3s ease;
}

.fone {
  margin-top: 10px;
  transition: color 0.3s ease;
}

.fone:hover {
  color: var(--cor_hover);
}

.email {
  transition: color 0.3s ease;
}

.email:hover {
  color: var(--cor_hover);
}

.endereco {
  transition: color 0.3s ease;
}

.endereco:hover {
  color: var(--cor_hover);
}

.direitos {
  margin-left: 5%;
  margin-top: 15px;
}
